@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

body {
    padding: 0;
    margin: 0;
    /* background: linear-gradient(to right, #00AAFF, #00FF6C); */
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid button {
    outline: none;
    cursor: pointer;
    border: 1px solid #565454;
    font-size: 1.4rem;
    background: #7F7E7D;
    color: #fff;
}

.calculator-grid button:hover {
    background: rgba(127, 126, 125, .8);
}

.span-two {
    grid-column: span 2;
}

.result {
    grid-column: 1 / -1;
    background: #515354;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.result .previous-input {
    color: #FFFFE6;
    font-size: 1.5rem;
}

.result .current-input {
    color: #FFFFE6;
    font-size: 2.5rem;
}

#btnAC {
    background: #FF5952;
}

#btnEquals {
    background: #008000;
}